<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="<%= page?.keywords || config?.keywords || 'Hexo Theme Keep' %>">
    <meta name="description" content="<%= page?.description || config?.description || 'Hexo Theme Keep' %>">
    <meta name="author" content="<%= theme?.base_info?.author || config?.author || 'Keep Team' %>">
    
    <!-- Open Graph Protocol -->
    <meta property="og:type" content="<%= is_post() ? 'article' : 'website' %>">
    <meta property="og:title" content="<%= page.title || config.title %>">
    <meta property="og:url" content="<%= page.permalink || config.url %>">
    <meta property="og:site_name" content="<%= config.title %>">
    <meta property="og:description" content="<%= page.description || config.description %>">
    <% if (page.cover || page.photos?.[0]) { %>
        <meta property="og:image" content="<%= page.cover || page.photos[0] %>">
    <% } %>
    <% if (config.language) { %>
        <meta property="og:locale" content="<%= config.language %>">
    <% } %>

    <%
    let title = page.title;
    if (is_archive()) {
        title = __('archive');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    } else {
        title = __(page.title);
    }
    %>
    <title>
        <% if (title) { %>
            <%= title %> |
        <% } %>
        <%= theme?.base_info?.title || config?.title || 'Keep Theme' %>
    </title>
    <%- css('css/style') %>
    <% if (theme?.base_info?.favicon) { %>
        <%- favicon_tag(theme?.base_info?.favicon) %>
    <% } %>
    <%- __css('font/css/fontawesome.min.css') %>
    <%- __css('font/css/regular.min.css') %>
    <%- __css('font/css/solid.min.css') %>
    <%- __css('font/css/brands.min.css') %>
    <% if (theme?.inject?.enable === true) { %>
        <% theme?.inject?.css?.forEach((css_path) => { %>
            <% if (css_path && isCssFile(css_path)) { %>
                <%- css(css_path) %>
            <% } %>
        <% }) %>
    <% } %>
    <%- exportThemeConfig() %>
    <% if (is_post()) { %>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "headline": "<%= page.title %>",
          "datePublished": "<%= date(page.date, 'YYYY-MM-DD') %>",
          "dateModified": "<%= date(page.updated, 'YYYY-MM-DD') %>",
          "author": {
            "@type": "Person",
            "name": "<%= config.author %>"
          },
          "description": "<%= page.description || config.description %>",
          "url": "<%= page.permalink %>",
          "keywords": "<%= page.keywords || config.keywords %>"
        }
        </script>
    <% } %>
    <meta name="baidu-site-verification" content="codeva-UM3hT1SrOm" />
</head>

